name: Connect to Entra using OIDC

on: [push]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  connect-entra:
    runs-on: ubuntu-latest
    steps:
      - name: Install Microsoft Azure
        shell: pwsh
        run: |
          Install-Module -Name Az -Repository PSGallery -Scope CurrentUser -Force -AllowClobber


      - name: Get OIDC token and authenticate to Azure
        shell: pwsh
        env:
          TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        run: |
          try {
          
            # Request an OIDC token with the specific audience
            $oidcRequestUrl = "$env:ACTIONS_ID_TOKEN_REQUEST_URL&audience=api://AzureADTokenExchange"
            Write-Host "Requesting token from: $oidcRequestUrl"
            
            $oidcResponse = Invoke-RestMethod -Uri $oidcRequestUrl -Headers @{Authorization = "Bearer $env:ACTIONS_ID_TOKEN_REQUEST_TOKEN"}
            $oidcToken = $oidcResponse.value
            # Connect to Microsoft Graph using the token as SecureString
            Connect-AzAccount -ApplicationId $env:CLIENT_ID -Tenant $env:TENANT_ID -FederatedToken $oidcToken
            Get-AzResourceGroup
          }
          catch {
            Write-Error "Authentication failed: $_"
            Write-Host "Error details: $($_.Exception | Format-List -Force | Out-String)"
            exit 1
          }
